@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('assets/fonts/font.css');

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@layer base {
  body {
    margin: 0;
    padding: 0;
    font-family: 'beVietNamPro', Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: url(./assets/images/b1.png);
    background-repeat: repeat-y;
  }

  p {
    @apply text-lg;
  }
}

@layer components {
}

@layer utilities {
  .contain {
    @apply sm:mx-auto sm:w-[1531px] -sm:px-2;
  }

  .line {
    @apply h-[0.5px] w-full bg-black/10;
  }

  .level__1:hover .level__1__drop {
    @apply flex;
  }
  .level__2:hover .level__2__drop {
    @apply flex;
  }
  .level__3:hover .level__3__drop {
    @apply flex;
  }
  .level__4:hover .level__4__drop {
    @apply flex;
  }

  .swiper-button-prev,
  .swiper-button-next {
    @apply rounded bg-black/20 p-2 after:text-2xl after:text-white hover:bg-black;
  }

  .swiper-button-prev::after,
  .swiper-button-next::after {
    font-size: 20px !important;
  }

  .fz_dtgame {
    font-family: 'fz_dtgame', Arial, Helvetica, sans-serif;
  }

  .svn_shikimaru {
    font-family: 'SVN_Shikimaru', Arial, Helvetica, sans-serif;
  }

  .otf_kaisho {
    font-family: 'OTF_Kaisho', Arial, Helvetica, sans-serif;
  }
}
